@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&family=Ubuntu:wght@300;400;500;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


.header {
    height: inherit;
    /* background: #f1b070;
    background: linear-gradient(135deg, #f6d7b5, #b5d0f9); */
    background-color: #06021b;
    z-index: 2;
}

.head_text {
  font-family: 'Ubuntu';
}

.bg_about {
  background-color: #06021b;
}

#courses {
  background-color: #0b052b;
}

.cert {
  background-color: #06021b;
}

.resources {
  background-color: #0b052b;
}

.company {
  background-color: #00bec5;
}

.foot {
  background-color: #06021b;

}

.button {
    align-items: center;
    background-color: inherit;
    border: #e0dede solid 1px;
    border-radius: 8px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: flex;
    font-family: 'Ubuntu';
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    width: 200px;
    padding: 0 2px;
    /* position: relative; */
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: all
  }

  #resources {
    transition: color 0.3s ease-in-out;
  }

  form > div {
    @apply flex flex-col gap-2;
  }
  
  input, select{
    @apply shadow-md px-6 py-2 border border-slate-300 outline-none 
  }