@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&family=Ubuntu:wght@300;400;500;700&display=swap');

.navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  align-items: center;
  padding: 0.5rem;
  color: #000000;
  font-family: 'Poppins';
  background: #f1b070;
  background: linear-gradient(135deg, #f6d7b5, #dae8ff);
}


.mobile-menu {
    text-align: right;
}


.navbar .logo img {
    margin-left: 0.5rem;
}

.links {
    text-decoration: none;
  color: #000000;
}

/* .logo {
  font-size: 1.5rem;
} */

/* .logo img {
    width: 150px;
} */

.nav-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  margin-right: 1rem;
  cursor: pointer;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.line {
  height: 3px;
  width: 25px;
  background-color: rgb(0, 0, 0);
  margin: 5px 0;
  transition: 0.4s;
}

.open .line:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.open .line:nth-child(2) {
  opacity: 0;
}

.open .line:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

.mobile-menu {
  display: none;
  position: absolute;
  width: 100%;
  margin-left: -50px;
  top: 60px;
  right: 20px;
  background-color: rgb(241, 236, 236);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* .tweet_link a {
  color: #fff;
  text-decoration: none;
} */

.mobile-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile-menu li {
  padding: 1rem;
  cursor: pointer;
  border-bottom: 1px solid #555;
}

@media screen and (max-width: 767px) {
  .nav-links {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .mobile-menu {
    display: block;
  }
}

/* Add these styles for the mobile menu */
.mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%; /* Adjust this value based on your design */
    background-color: rgb(251, 251, 251); /* Set the background color */
    transition: transform 0.3s ease-in-out; /* Add a transition effect */
    transform: translateX(100%);
  }
  
  .mobile-menu.show {
    transform: translateX(0);
  }
  
  .close-button {
    display: flex;
    justify-content: flex-start;
    top: 10px;
    right: 10px;
    font-size: 40px;
    color: #000000;
    outline: none;
    border: none;
    cursor: pointer;
  }
  
  /* Rest of your styles... */
  